<ul class="nav nav-tabs nav-stacked">
  <a (click)="goToTripsList()"  class="nav-link">Trip List</a>
  <a (click)="goToCreateList()" class="nav-link">Add Trip</a>
  <a (click)="goToStationList()" class="nav-link">Station List</a>

</ul>

<h3>Update Trip</h3>
<form (ngSubmit) = "onSubmit()">

  <div class="form-group">
    <label>
      From station
    </label>
    <input type="text" class="form-control" id = "from_station" [(ngModel)] = "trip.from_station" name="from_station">

  </div>

  <div class="form-group">
    <label>
      To station
    </label>
    <input type="text" class="form-control" id = "to_station" [(ngModel)] = "trip.to_station" name="to_station">

  </div>

  <div class="form-group">
    <label>
      start time
    </label>
    <input type="text" class="form-control" id = "start_time" [(ngModel)] = "trip.start_time" name="start_time">

  </div>
  <div class="form-group">
    <label>
      end time
    </label>
    <input type="text" class="form-control" id = "end_time" [(ngModel)] = "trip.end_time" name="end_time">

  </div>

  <button class="btn btn-success" type="submit">submit</button>
</form>
